<!DOCTYPE html>
<html lang="en">
<head>
    <title>SOLA Solutions</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="~/resources/css/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="~/resources/css/animate.min.css">

    <link rel="stylesheet" href="~/resources/css/site.css">
</head>
<body class="sola-solutions-app">
    <div ui-view="main" style="height: 100%;"></div>

    <script language="JavaScript" type="text/javascript">
        var GLOBAL = {
            scheme: '',
            serverName: '$!request.serverName',
            siteName: '$siteName',
            authClient: '$authClient',
            requestURL: '$!request.requestURL',
            baseUrl: '$!request.contextPath',
            baseUrlPublic: '/public',
            baseUrlResources: '/resources',
            baseUrlApi: '/api/v1',
            stateUrlHome: '/app/home',
            stateUrlLogin: '/login',
            localStorageAuthName: 'token',
            primaryPalette: "blue",
            accentPalette: "lime"
        };
    </script>

    <!-- AngularJS -->
    <script src="~/resources/js/angular/angular.min.js"></script>
    <script src="~/resources/js/angular/angular-animate.min.js"></script>
    <script src="~/resources/js/angular/angular-aria.min.js"></script>
    <script src="~/resources/js/angular/angular-cookies.min.js"></script>
    <script src="~/resources/js/angular/angular-loader.min.js"></script>
    <script src="~/resources/js/angular/angular-message-format.min.js"></script>
    <script src="~/resources/js/angular/angular-messages.min.js"></script>
    <script src="~/resources/js/angular/angular-resource.min.js"></script>
    <script src="~/resources/js/angular/angular-sanitize.min.js"></script>
    <script src="~/resources/js/angular/angular-touch.min.js"></script>

    <!-- Angular Material -->
    <script src="~/resources/js/angular-material/angular-material.js"></script>

    <!-- Angular plugin -->
    <script src="~/resources/js/angular-plugin/angular-ui-router.min.js"></script>
    <script src="~/resources/js/angular-plugin/angular-translate.min.js"></script>
    <script src="~/resources/js/angular-plugin/angular-translate-loader-url.min.js"></script>
    <script src="~/resources/js/angular-plugin/angular-local-storage.min.js" type="text/javascript"></script>
    <script src="~/resources/js/angular-plugin/angular-utf8-base64.min.js" type="text/javascript"></script>
    <script src="~/resources/js/angular-plugin/http-auth-interceptor.js" type="text/javascript"></script>

    <script src="~/resources/js/ocLazyLoad.min.js" type="text/javascript"></script>
    <script src="~/resources/js/script.min.js" type="text/javascript"></script>

    <!-- App -->
    <script src="~/resources/app/app.js"></script>
    <script src="~/resources/app/directives.js"></script>
</body>
</html>